body {
  font-family: Monospace;
  background-color: #ffffff;
  /* overflow: hidden;
  margin: 0; */
 }

main {
  background: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main div {
  margin-top: 100px;
  width: 100px;
}


canvas {
  /* margin-top: 100px; */
  border-radius: 15px;
}

section h3 {
  text-align: center;

}

.instructions {

}

.click:hover {
  color: red;
}
