body {
  background: white;
  display: flex;
  justify-content: center;
}

body div {
  margin-bottom: 10px;
}

canvas {
  /* margin-top: 100px; */
  border-radius: 15px;
}

section h3 {
  text-align: center;

}

.instructions {

}
